@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Pacifico&family=Sacramento&family=Zeyada&display=swap");
@layer base {
}

@layer components {
  .filter-btn {
    @apply flex gap-2 items-center px-4 py-1 ring-1 ring-[rgba(58,96,236,0.2)] shadow-md backdrop-blur-md rounded-sm hover:bg-blue-900 hover:text-sky-500 duration-300 text-blue-700 xl:w-full md:w-full w-[23%];
  }
  .tagList {
    @apply flex gap-x-0.5 xl:gap-2 text-center overflow-hidden  p-2;
  }
  .tag {
    @apply xl:rounded-full xl:font-bold xl:w-24 capitalize  xl:px-4 px-1.5 bg-[#18a998] xl:text-[11px] xl:py-[1px] text-xs;
  }
  .navLink {
    @apply shadow-lg p-2 bg-[#0080ff35] text-sky-600 hover:scale-110;
  }
  .navLinkLg {
    @apply hover:text-[#419eef] duration-200 bg-blue-950 bg-transparent px-2 min-w-fit  text-center;
  }
  .success {
    @apply bg-green-400 text-center p-2 rounded-md animate-ping mt-3;
  }
  .linkcss {
    @apply flex h-11 text-sm  px-3 gap-2 hover:bg-[#00c8ff43] hover:rounded-r-full hover:text-[black] text-slate-300  duration-500 shadow-lg;
  }
  .activeDashboard {
    @apply bg-[#7fffd4d3] shadow-md text-slate-900 rounded-l-full;
  }
  .activeChild {
    @apply bg-[#43cc9ed3] text-slate-800 rounded-r-full activeDashboard;
  }
  .userCell {
    @apply w-10/12 min-w-fit h-8 justify-center flex items-center border-r-2 px-1;
  }
  .slCell {
    @apply w-4/12 h-8 justify-center flex items-center border-x-2 px-1;
  }
  .btn {
    @apply min-w-full shadow-xl px-4 py-2 rounded-sm hover:opacity-60 duration-300 hover:bg-slate-400 text-slate-500 font-semibold hover:text-black;
  }
}

/* @layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
} */
option {
  all: unset;
  font-family: dosis;
}
.mainBg {
  /* background: #0e0a43; */
  /* background: -webkit-linear-gradient(139deg, #0e0a43 0%, #306ac1 100%);
  background: linear-gradient(139deg, #0e0a43 0%, #0a2856 100%); */
}
.dashboard {
  /* font-family: "Dosis", sans-serif; */
  /* font-family: "dosis"; */
  /* background-image: url("/public/assets/web.png"); */
}
.logo {
  /* font-family: "Great vibes"; */
  /* font-family: lobster two; */
}
.headline {
  /* position: absolute; */
  animation: scroll 40s linear infinite;
  white-space: nowrap;
  color: aquamarine;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-130%);
  }
}
.vAnim {
  /* something */
  animation: translateLeft 5s linear infinite;
  /* transition-duration: 3s; */
}
.animate-right {
  /* rotate: 45deg; */
  transition: all 1s linear;
  animation: translateLeft 2s infinite;
}
@keyframes translateLeft {
  0% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(10px, 0px);
  }
  100% {
    transform: translate(-10px);
  }
}

.pAnim {
  /* something */
  animation: translateRight 5s linear infinite;
}
@keyframes translateRight {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(40px);
  }
  100% {
    transform: translate(0);
  }
}
.imgAnim {
  /* something */
  animation: translateImg 0.3s linear;
}
@keyframes translateImg {
  0% {
    transform: translate(-600px);
  }

  100% {
    transform: translate(0);
  }
}

.formAnim {
  /* something */
  animation: translateForm 0.5s linear;
}
@keyframes translateForm {
  0% {
    transform: translateY(-600px);
  }
  50% {
    transform: translateY(-600px);
  }
  100% {
    transform: translate(0);
  }
}
.ReactModal__Overlay {
  opacity: 0;

  transition: opacity 200ms linear;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

table thead tr th,
table tr th,
table tr td {
  border: 1px solid;
}

.rpTable tr td {
  width: 25%;
}
