@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Pacifico&family=Sacramento&family=Zeyada&display=swap");
@layer base {
}

@layer components {
  .filter-btn {
    @apply px-4 py-1 ring-1 ring-[rgba(58,96,236,0.2)] shadow-md backdrop-blur-md rounded-sm hover:bg-blue-900 hover:text-sky-500 duration-300 text-blue-700 xl:w-full md:w-full w-[23%];
  }
  .tagList {
    @apply flex gap-x-0.5 xl:gap-2 text-center  p-2;
  }
  .tag {
    @apply xl:rounded-full xl:font-bold xl:w-24 capitalize  xl:px-4 px-1.5 bg-[#18a998] xl:text-[11px] xl:py-[1px] text-xs;
  }
  .navLink {
    @apply shadow-lg p-2 bg-[#0080ff35] text-sky-600 hover:scale-110 active:translate-x-32;
  }
}

/* @layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
} */
.mainBg {
  background: #0e0a43;
  background: -webkit-linear-gradient(139deg, #0e0a43 0%, #306ac1 100%);
  background: linear-gradient(139deg, #0e0a43 0%, #0a2856 100%);
}
.dashboard {
  /* font-family: "Dosis", sans-serif; */
  font-family: "dosis";
  /* background-image: url("/public/assets/web.png"); */
}
.logo {
  /* font-family: "Great vibes"; */
  font-family: lobster two;
}
.headline {
  /* position: absolute; */
  animation: scroll 40s linear infinite;
  white-space: nowrap;
  color: aquamarine;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-130%);
  }
}
