@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Dosis&family=Pacifico&family=Zeyada"); */
@layer base {
}

@layer components {
  .filter-btn {
    @apply px-4 py-1 ring-1 ring-[rgba(58,96,236,0.2)] shadow-md backdrop-blur-md rounded-sm hover:bg-blue-900 hover:text-sky-500 duration-300 text-blue-700;
  }
  .tagList {
    @apply flex gap-2 text-center  p-2;
  }
  .tag {
    @apply rounded-full font-bold  px-10 bg-[#18a998] text-[11px] py-[1px];
  }
}

/* @layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
} */
.dashboard {
  /* font-family: "Dosis", sans-serif; */
  font-family: "dosis";
  /* background-image: url("/public/assets/web.png"); */
}
.logo {
  /* font-family: "Great vibes"; */
  font-family: lobster two;
}
.scroll {
  color: aqua;
  animation: scroll 60s forwards infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(-4000px);
  }
}
